@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@700&display=swap');

* {
  padding: 0%;
  margin: 0%;
  font-family: 'Tektur', sans-serif;
}

body {
  background-color: #c5c8ca;
}

header {
  background-color: rgba(2, 56, 89, 0.8);
  box-shadow: 0px 3px 15px #F16136;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  align-items: center;
  background-color: rgba(2, 56, 89, 0.8); /* Fundo do navbar com transparência */
  box-shadow: 0px 3px 15px #F16136;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 1; /* Opacidade total para o navbar */
  visibility: visible; /* Torna o navbar visível */
}

.logo img {
  width: 150px; /* Defina o tamanho desejado para o logo */
  height: auto; /* A altura será ajustada proporcionalmente ao tamanho */
}

.nav-list {
  display: flex;
  align-items: center;
  flex: 1; /* Ocupar todo o espaço disponível na largura */
  justify-content: center; /* Centralizar os links horizontalmente */
}

.nav-list ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

/* Estilização específica para os links do nav-bar */
.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #c5c8ca; /* Cor laranja para os links do nav-bar */
  font-weight: 400;
  transition: color 0.3s ease; /* Transição suave da cor ao passar o mouse */
}

/* Mudar a cor ao passar o mouse */
.nav-link:hover {
  color: #F16136; /* Cor cinza quando o mouse está em cima do link */
}

.mobile-menu-icon {
  display: none; /* Esconder o ícone do menu responsivo por padrão em telas maiores */
}

.mobile-menu {
  display: none; /*Esconder o menu mobile de telas desktop*/
}

.mobile-menu .nav-item {
  display: none; /*Esconder os links de acesso mobile*/
}

/* Estilo para a imagem do banner */
.banner-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(2, 56, 89, 0.8); /* Defina a transparência do fundo do navbar aqui */
}

/* Estilo para a imagem do banner */
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilo para telas menores */
@media screen and (max-width: 768px) {

  .nav-list {
    display: none; /* Esconder a lista de navegação em telas menores */
  }

  .mobile-menu-icon {
    display: block; /* Mostrar o ícone do menu responsivo em telas menores */
    margin-right: 15px; /* Espaçamento para o ícone */
  }

  /* Estilo para mostrar a lista de navegação quando o menu responsivo é acionado */
  .mobile-menu.active {
    display: flex;
    flex-direction: column; /* A lista de navegação será mostrada verticalmente */
    background-color: rgba(2, 56, 89, 0.8); /* Opacidade para a lista de navegação responsiva */
    box-shadow: 0px 3px 15px #F16136;
    width: 100%; /* Largura da lista de navegação responsiva */
    visibility: visible; /* Torna a lista de navegação visível */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2; /* Definir um z-index maior para que o menu fique sobre o banner */
    margin-top: 10px; /* Adicionar uma margem superior para separar do navbar */
  }

  .nav-item {
    display: block;
    padding: 1.2rem;
    margin: 10px 0; /* Espaçamento entre os itens da lista de navegação (top e bottom) */
    text-align: center; /* Centralizar os itens verticalmente na coluna */
  }

  /* Estilo para o ícone do menu responsivo */
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #c5c8ca;
    padding: 0;
  }

  /* Estilização específica para a lista de navegação do menu responsivo */
  .mobile-menu .nav-item {
    display: block;
    padding: 1.2rem;
  }

  /* Estilo para a imagem do banner em telas menores */
  .banner img {
    display: none;
  }

  /* Estilo para o banner-container em telas menores */
  .banner-container {
    background-image: url("images/splashresponsive.jpg"); /* Substitua pelo caminho da nova imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; /* Definir um z-index menor para o banner para que ele fique atrás do conteúdo */
  }
}

/* ... (outros estilos) ... */

