@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Tektur:wght@800&display=swap');

* {
  padding: 0%;
  margin: 0%;
  font-family: 'Tektur', sans-serif;
}

html {
  scroll-padding-top: 70px; /* Ajuste o valor conforme o tamanho do seu navbar */
}

body {
  background-color: #c5c8ca;
}

header {
  background-color: rgba(2, 56, 89, 0.8);
  box-shadow: 0px 3px 15px #F16136;
  position: relative; /* Adicionar posicionamento relativo para o header */
}

.logo {
  position: relative;
}

.desktop-logo {
  display: block;
}

.mobile-logo {
  display: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  align-items: center;
  background-color: rgba(2, 56, 89, 0.8); /* Fundo do navbar com transparência */
  box-shadow: 0px 3px 15px #F16136;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 1; /* Opacidade total para o navbar */
  visibility: visible; /* Torna o navbar visível */
}

.logo img {
  width: 130px; /* Defina o tamanho desejado para o logo */
  height: auto; /* A altura será ajustada proporcionalmente ao tamanho */
}

.nav-list {
  display: flex;
  align-items: center;
  flex: 1; /* Ocupar todo o espaço disponível na largura */
  justify-content: center; /* Centralizar os links horizontalmente */

}

.nav-list ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0; /* Remover o padding padrão da lista */
}

.nav-item {
  margin: 0 30px; /* Espaçamento entre os itens da lista de navegação */
  color: #F16136;
}

/* Estilização específica para os links do nav-bar */
.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #c5c8ca; /* Cor cinza para os links do nav-bar */
  font-weight: 500;
  transition: color 0.3s ease; /* Transição suave da cor ao passar o mouse */
}

/* Mudar a cor ao passar o mouse */
.nav-link:hover {
  color: #F16136; /* Cor laranja quando o mouse está em cima do link */
}

.mobile-menu-icon {
  display: none; /* Esconder o ícone do menu responsivo por padrão em telas maiores */
}

.mobile-menu {
    display: none; /* Esconder o menu mobile de telas desktop */
    position: absolute;
    top: 100%; /* Posicionar abaixo do logo */
    left: 0; /* Posicionar no canto esquerdo */
    z-index: 2; /* Definir um z-index maior para que o menu fique sobre o banner */
    background-color: rgba(2, 56, 89, 0.8); /* Opacidade para a lista de navegação responsiva */
    box-shadow: 0px 3px 15px #F16136;
    width: 100%; /* Largura da lista de navegação responsiva */
    visibility: hidden; /* Torna a lista de navegação invisível por padrão */
}

.mobile-menu .nav-item {
  display: none; /*Esconder os links de acesso mobile*/
}

.banner-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(2, 56, 89, 0.8); /* Defina a transparência do fundo do navbar aqui */
  background-image: url("images/splash.jpg"); /* Substitua pelo caminho da imagem do banner */
  background-size: cover; /* Ajuste para preencher toda a div */
  background-position: center; /* Centralize a imagem horizontalmente */
  background-repeat: no-repeat; /* Evite que a imagem se repita */
  z-index: 1; /* Definir um z-index menor para o banner para que ele fique atrás do conteúdo */
}

/* Estilo para a imagem do banner */
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titulo-banner {
  position: absolute;
  top: 30%; /* Ajuste para posicionar o título verticalmente */
  width: 100%; /* Adicione uma largura de 100% para ocupar toda a largura do elemento pai */
  text-align: center; /* Centralize o conteúdo horizontalmente */
  background-color: rgba(2, 56, 89, 0.8);
  padding: 10px 20px;
  color: #c5c8ca;
  font-size: 32px;
  font-weight: bold;
  border-radius: 5px;
}

  .titulo-banner h1 {
    font-family: 'Roboto', sans-serif;
    /* Outros estilos de formatação do título, se necessário */
  }

  .caixa {
    display: flex; /* Set the container as flex container */
  }

 /* Estilização da seção "Quem Somos" */
.container-quem-somos {
  margin: 40px auto;
  max-width: 800px;
  padding: 20px;
  background-image: url(images/fundoquemsomos.png); /* Imagem de fundo da seção "Quem Somos" */
  background-size: cover;
  background-position: left; /* Posiciona a imagem à esquerda */
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0px 3px 15px #F16136;
}

.quem-somos-image {
  margin-top: 80px;
  width: 700px;
  height: auto;
  margin-bottom: 10px;
  margin-left: 80px;
}

.quem-somos-content {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.quem-somos-text {
  text-align: left;
}

/* Estilização dos botões */
.botao-quem-somos {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #F16136;
  color: #c5c8ca;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilização do conteúdo alternado */
.conteudo-quem-somos {
  margin-top: 20px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Estilização da imagem dentro do conteúdo alternado */
.conteudo-quem-somos img {
  width: 500px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* Posicionamento à direita para o conteúdo específico de "Quem Somos" */
.conteudo-quem-somos-direita {
  justify-content: flex-start; /* Alinha os itens para a esquerda */
}


/* Estilo para telas menores */
@media screen and (max-width: 768px) {

  .desktop-logo {
    display: none; /* Esconder a logo no modo mobile */
  }


  .mobile-logo {
    display: block; /* Exibir a logo no modo mobile */
    height: auto; /* A altura será ajustada proporcionalmente ao tamanho */
  }

  .logo img {
    width: 70px; /* Defina o tamanho desejado para o logo */
  }
  
  .nav-list {
    display: none; /* Esconder a lista de navegação em telas menores */
  }

  .mobile-menu-icon {
    display: block; /* Mostrar o ícone do menu responsivo em telas menores */
    margin-right: 10px; /* Espaçamento para o ícone */
  }

  /* Estilo para o ícone do menu responsivo */
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #c5c8ca;
    padding: 0;
  }

    .mobile-menu {
      display: none; /* Esconder o menu mobile de telas desktop */
      position: absolute;
      top: 100%; /* Posicionar abaixo do logo */
      left: 0; /* Posicionar no canto esquerdo */
      z-index: 2; /* Definir um z-index maior para que o menu fique sobre o banner */
      background-color: rgba(2, 56, 89, 0.8); /* Opacidade para a lista de navegação responsiva */
      box-shadow: 0px 3px 15px #F16136;
      width: 100%; /* Largura da lista de navegação responsiva */
      visibility: visible; /* Torna a lista de navegação invisível por padrão */
    }
    
    .mobile-menu.active {
      display: flex;
      flex-direction: row; /* A lista de navegação será mostrada horizontalmente */
      visibility: visible; /* Torna a lista de navegação visível */
      justify-content: center; /* Centralizar os itens horizontalmente */
    }
    
    .mobile-menu ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; /* Permite que os itens sejam quebrados em várias linhas */
      justify-content: center; /* Centralizar os itens horizontalmente */
      align-items: center; /* Centralizar os itens verticalmente */
      padding-bottom: 1rem;
      margin: 0px; /* Remover margem padrão da lista */
    }
    
    .mobile-menu .nav-item {
      display: block;
      padding: 1.2rem 2rem; /* Espaçamento entre os itens da lista de navegação */
    }

  /* Exibir a lista de navegação dentro do menu responsivo quando a classe "active" é aplicada */
  .mobile-menu.active .nav-item {
    display: flex;
  }

  /* Estilo para a imagem do banner em telas menores */
  .banner img {
    display: none;
  }

  /* Estilo para o banner-container em telas menores */
  .banner-container {
    background-image: url("images/splashresponsive.jpg"); /* Substitua pelo caminho da nova imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; /* Definir um z-index menor para o banner para que ele fique atrás do conteúdo */
  }

  .titulo-banner {
    position: absolute;
    top: 30%; /* Ajuste para posicionar o título verticalmente */
    width: 100%; /* Adicione uma largura de 100% para ocupar toda a largura do elemento pai */
    text-align: center; /* Centralize o conteúdo horizontalmente */
    background-color: rgba(2, 56, 89, 0.8);
    padding: 10px 0px;
    color: #c5c8ca;
    font-size: 32px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 40px;
  }

  .titulo-banner h1 {
      font-size: 3rem; /* Tamanho da fonte para telas ainda menores */
  }

  /* Estilização dos botões */
  .botao-quem-somos {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #F16136;
    color: #c5c8ca;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Estilização do conteúdo alternado */
  .conteudo-quem-somos {
    display: none;
    text-align: center;
    background-color: #F16136;
  }

  /* Estilização da imagem dentro do conteúdo alternado */
  .conteudo-quem-somos img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .conteudo-quem-somos {
    text-align: right; /* Alinha o texto à direita */
  }

}

  /* Estilos para telas ainda menores */
  @media screen and (max-width: 576px) {

    .titulo-banner {
      position: absolute;
      top: 30%; /* Ajuste para posicionar o título verticalmente */
      width: 100%; /* Adicione uma largura de 100% para ocupar toda a largura do elemento pai */
      text-align: center; /* Centralize o conteúdo horizontalmente */
      background-color: rgba(2, 56, 89, 0.8);
      padding: 10px 0px;
      color: #c5c8ca;
      font-size: 32px;
      font-weight: bold;
      border-radius: 5px;
      margin-top: 90px;
    }

    .titulo-banner h1 {
        font-size: 3rem; /* Tamanho da fonte para telas ainda menores */
    }
  }
/* ... (outros estilos) ... */